#app, #header {
  padding: 20px;
  background-color: #efefef;
}

#app {
  height: 100vh;
}
.text-center {
  text-align: center;
}

.float-right {
  text-align: right;
  margin-left: auto;
}

.row {
  clear: both;
  width: 100%;
}

.col5 {
  width: 50%;
  float: left;
}

.btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.btn-danger {
  background-color: #f44336;
}

.btn-warning {
  background-color: #b7b95c;
}

input, li, .btn {
  padding: 14px 28px;
  font-size: 16px;
}

li {
  display: flex;
  align-items: center;
  list-style-type: none;
  background-color: #f9f9f9;
}

.todo-text {
  font-size: 20px;
}
