<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>vanilla todo</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div class="container">
    <div class="row" id="header">
      <div class="col">
        <h1 class="text-center">My todo list</h1>
      </div>
    </div>
    <div class="row" >
      <div id="app">
        <div class="col5">
          <div class="input-group">
            <input id="new-todo" type="text" placeholder="what your plan?" v-model="newTodo">
            <button id="add-todo" class="btn" v-on:click="addToDo">Add ToDo</button>
          </div>
        </div>
        <div class="col5">
          <ul  class="list-group" id="todos">
            <li v-for="(todo, index) in todos">
              <todo-item v-bind:todo="todo" todoindex="index" v-on:delete-todo="deleteToDo($event)"></todo-item>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script src="vueToDo.js"></script>
</body>
</html>
